body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    margin: 0;
    min-height: 100vh;
    min-width: 100vh;
    align-items: center;
    background-color: #0e0e0e;
}
/* The header of the page starts here */
.header {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    width:75%;


}
.logo {
    font-size: 24px;
    color: #f9faf8;
    padding: 16px 0px;
    margin-left:200px;
}
.links {
    display: flex;
    gap: 16px;
    margin-right:200px;
}
a {
    display:flex;
    color:#e5e7eb;
    font-size: 18px;
    text-decoration: none;

}
li {
    display:flex;
}
/* Header ends here */
/* Top quarter page starts here */
button {
    background-color: #3882f6;
    color: #f9faf8;
    border:none;
    border-radius: 8px;
    padding: 6px 10px;

}
.signup-1 {
    margin-bottom: 50px;
}
.body1,.body2,.body3,.body4 {
    width:75%;
    
}
.body1 {
    display: flex;
    background-color: #1f2937;
    flex-shrink:0;
    height: auto;
    flex-wrap:wrap;
    justify-content: space-between;
}
.hero-container {
    display:flex;
    height:150px;
    width: 300px;
    flex-wrap: wrap;
    margin-left: 200px;
}
.hero-title {
    margin-top: 50px;
    padding-bottom: 0;
    font-size: 48px;
    color:#f9faf8;
    padding-bottom: 0;
} 
.hero-info {
    margin-top:25px;
    padding-top:0;
    font-size: 18px;
    color: #e5e7eb;
}
.ffxiv-image-container {
    margin-right:200px;
    margin-bottom:50px;
    box-shadow:0 0 8px 8px;

}
button {
    margin-top:16px;
}
img {
    display:flex;
    max-width:100%;
    height:auto;  

}
/* First quarter of page ends here */

.body2 {
    display:flex;
    flex-direction: column;
    background-color: #f9faf8;
    height:425px;
    flex-shrink: 0;
    
}
.info-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height:65%;
    margin-left:200px;
    margin-right:200px;
}
.class-info {
    display:flex;
    flex-shrink: 0;
    font-size: 36px;
    color: #1f2937;
    margin-top:50px;
    height:50px;
    width:100%;
    justify-content: center;
}

.image-series {
    display:flex;
    justify-content: space-between;
    width:100%;
}
/* 2nd Quarter of page ends here */
.body3 {
    display:flex;
    background-color: #e5e7eb;
}
.body4 {
    display: flex;
    background-color: white;
}

.footer {
    display:flex;
    background-color: #1f2937;
    color: #e5e7eb;
    position: fixed;
    bottom: 0;
    width: 75%;
    height: 50px;
    justify-content: center;
    align-items: center;
}